<div class="user-info mt-4 p-2 p-md-3">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4 py-2">
            Name : {{user?.username}}
        </div>
        <div class="col-12 col-md-6 col-lg-4 py-2">
            Email : {{user?.email}}
        </div>
        <div class="col-12 col-md-6 col-lg-4 py-2">
            Contact : {{user?.contact}}
        </div>
        <div class="col-12 col-md-6 col-lg-4 py-2">
            Company : {{user?.company}}
        </div>
        <div class="col-12 col-md-6 col-lg-4 py-2">
            Device : {{user?.device}}
        </div>
        <div class="col-12 col-md-6 col-lg-4 py-2">
            Device input : {{user?.input}}
        </div>
    </div>
</div>
