.floor-plan-container {
    .floor-value-array {
        width: inherit;
        word-wrap: break-word;
        
    }
    .overlay-container {
        opacity: 0.4;
        img {
            width: 1000px;
        }
    }
    .floor-value-container {
        display: flex;
        align-items: center;
        justify-content: center;
        outline: 1px solid #333;
        padding: 5px;
        position: absolute;
        top: 230px;
        bottom: 0;
        left: 245px;
        right: 0;
        width: 220px;
        height: 370px;
        color: #000000;
        font-weight: bold;
    }
    .floor-plan {
        position: relative;
    }
    .floor1-position2 {
        border-radius: 50%;
        top: 190px;
    }
    .floor1-position3 {
        left: 220px;
        height: 140px;
        top: 100px;
    }
    .floor1-position4 {
        top: 340px;
    }
    .floor1-position5 {
        top: 315px;
        height: 140px;
        left: 220px;
    }
    .floor2-position2 {
        left: 350px;
    }
    .floor2-position3 {
        top: 225px;
    }
    .floor2-position4 {
        top: 225px;
        left: 350px;
    }
    
}

//   .floor-value-container {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     outline: 1px solid #333;
//     position: absolute;
//     top: 95px;
//     bottom: 0;
//     left: 105px;
//     right: 0;
//     width: 65px;
//     height: 40px;
//     color: #000000;
//     font-weight: bold;
// }