.side-nav{
    overflow: auto;
    max-height: 500px;
    &__menu{
       margin: 0;
       padding: 0;
    }
    &__menu-content{
        display: block;
        color: rgb(59, 4, 193);
        background-color: #f8f9fa;
        border: none;
        border-bottom: 1px solid #212529;
        font-size: 16px;
        line-height: 24px;
        text-decoration: none;
        cursor: pointer;
        padding: 15px 25px;
        text-align: center;
        border-radius: 15px;
        &:hover{
            //border-left: 3px solid #2a82e5;
            color: #212529;
            background-color: #2a82e5;
        }
    }
    .active {
        font-weight: bold;
        font-size: 18px;
        border: 3px solid #212529;
    }
}